*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/app/.cxx/
/app/build/
/app/build/intermediates/javac/debug/classes/
/macelibrary/.cxx/
/openCVLibrary341/build/
/openCVLibrary341/build/intermediates/javac/debug/classes/